.post-list {
    padding-left: 0em;
    list-style: decimal;
}

.post-row {
    font-size: 1.5em;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: justify;
}
@media only screen and (min-width: 767px){
  .post-date {
      float: right;
  }
}
@media only screen and (max-width: 767px){
  .post-date {
      display: none;
  }
}
