<!DOCTYPE html>
<html>
{% include 'base.html' %}
<head>
  <link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/style.css') }}' />
</head>

<body>


  <nav class="navbar navbar-default navbar-fixed-top">

           <div class="container">

               <div class="navbar-header">

                   <a class="navbar-brand visible-xs" href="#">David Patawaran</a>

                   <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>

               </div>

               <div class="collapse navbar-collapse">


                       <ul class="nav navbar-nav">

                               <li><a href="/">Home</a></li>

                               <li><a href="/blog">All Posts</a></li>

                               <li><a href="/personal">Personal</a></li>

                               <li><a href="/random">Random</a></li>

                               <li><a href="/about">About</a></li>

                               <li><a href="/resume.pdf">Resume</a></li>

                       </ul>



                       <ul class="nav navbar-nav navbar-right">

                               <li class="navbar-icon"><a href="https://www.launchpad.net/~powersj/"><i class="fa fa-linux"></i></a></li>
                           
                               <li class="navbar-icon"><a href="https://github.com/dpat/"><i class="fa fa-github"></i></a></li>

                               <li class="navbar-icon"><a href="https://www.linkedin.com/in/d-pat/"><i class="fa fa-linkedin"></i></a></li>

                       </ul>


               </div>

           </div>

       </nav>




<main>
  <h2> Welcome to the first ever SMS generated website </h2>

  <ol class="post-list">
  {% for post in blog[::-1] %}
           <div class="row">
               <li class="post-row">
                   <span class="text-left">
                      {% if post.title == '' %}
                        <a href="/blog/{{post.postid}}"> Post {{post.postid}}</a>
                      {% else %}
                        <a href="/blog/{{post.postid}}">{{post.title}}</a>
                      {% endif %}
                   </span>
                   &nbsp; &nbsp;
                   <span class="post-date text-right">
                       {{ post.date }}
                   </span>
               </li>
           </div>
  {% endfor %}
</ol>
</main>
</body>

</html>
