<!DOCTYPE html>
<html>
<head>
  {% include 'base.html' %}
  <link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/style.css') }}' />
</head>

<body>

{% include 'navbar.html' %}

<main>
  <h2> Welcome to the first ever SMS generated website </h2>

  <ol class="post-list">
  {% for post in blog[::-1] %}
           <div class="row">
             <p>
             </p>
               <li class="post-row">
                   <span class="text-left">
                      {% if post.title == '' %}
                        <a href="/blog/{{post.postid}}"> Post {{post.postid}}</a>
                      {% else %}
                        <a href="/blog/{{post.postid}}">{{post.title}}</a>
                      {% endif %}
                   </span>
                   &nbsp; &nbsp;
                   <span class="post-date text-right">
                       {{ post.date }}
                   </span>
               </li>
           </div>
  {% endfor %}

</ol>
</main>
</body>

</html>
