<!DOCTYPE html>
<html>
{% include 'base.html' %}

<head>
  <link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/style.css') }}' />
</head>

<body>

  {% include 'navbar.html' %}

  <h1> Random </h1>

  {% for post in random[::-1] %}
  <div class="row">
    <p>
      ----------------
    </p>
    <h4> {{ post.title }} </h4>
    <h5> {{ post.date }} | {{post.postid}} </h5>
    <p> </p>
    <p>
      {{ post.post }}
    </p>

  </div>
  {% endfor %}
  <p>
    ----------------
  </p>
</body>

</html>
